
<div class="top-title">
    <div class="top-1">
        <p class="nombre">HOOSTING</p>
    </div>
    <div class="top-2">
        <p class="title">FRANZ BURNEO</p>
    </div>
    
</div>
<div class="content">
    <h1 class="content-title">PLANES</h1>
    <div class="content-planes">
        <div class="plan1">
            <h2 class="nombreplan">BASIC</h2>
            <h1 class="precio">$20</h1>
            <h3 class="descrip">Espacio: 5GB</h3>
            <h3 class="descrip">Usuarios: 50</h3>
            <h3 class="descrip">Certificación digital</h3>
            <h3 class="descrip">Vistas: 750</h3>
            <a href="#"><div class="boton"> Contratar</div></a>
        </div>
        <div class="plan2">
            <h2 class="nombreplan">MEDIUM</h2>
            <h1 class="precio">$40</h1>
            <h3 class="descrip">Espacio: 50GB</h3>
            <h3 class="descrip">Usuarios: 300</h3>
            <h3 class="descrip">Certificación digital</h3>
            <h3 class="descrip">Vistas: 5000</h3>
            <a href="#"><div class="boton"> Contratar</div></a>
        </div>
        <div class="plan3">
            <h2 class="nombreplan">PRO</h2>
            <h1 class="precio">$60</h1>
            <h3 class="descrip">Espacio: 1TB</h3>
            <h3 class="descrip">Usuarios: 1000</h3>
            <h3 class="descrip">Certificación digital</h3>
            <h3 class="descrip">Vistas: Sin límite</h3>
            <a href="#"><div class="boton">Contratar</div></a>
        </div>
    </div>
   
</div>
