/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to bottom,
    rgba(114, 182, 216, .5),
    rgba(47, 48, 58, .3));
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}